/*https://sridharkatakam.com/posts-grid-genesis-using-css-grid/*/

/*.content-archive .content {
    float: none;
}*/

.articles {
    display: -ms-grid;
    display: grid;

    -ms-grid-columns: 1fr 1fr;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
}

.content-archive .content .entry {
    margin-bottom: 0;
    padding: 0;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.content-archive .content .entry-content {
    padding: 20px;
}

.content-archive .content a.entry-image-link img {
    margin-bottom: 0;
    vertical-align: top;
}

.content-archive .content .entry-title {
    font-size: 18px;
}

.content-archive .content p.entry-meta {
    font-size: 14px;
    font-size: 1.4rem;
}

.content-archive .content .entry-meta a {
    color: #333;
    text-decoration: none;
}

.content-archive .content .entry-meta a:hover {
    color: #c3251d;
}

@media only screen and (max-width: 1023px) {
    .articles {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 500px) {
    .articles {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}