/*! Cómo se ven los posts en el HOME*/
div#iniciomaguared_dos {
  @include grilla-doble;
}
div#iniciomaguared {
  @include grilla-triple;
}
div#iniciomaguared article, div#iniciomaguared_dos article {
  @include articulo-maguared;
}
div#iniciomaguared article span.maguared_fecha, div#iniciomaguared_dos article span.maguared_fecha {
  @include articulo-maguared-fecha;
}
div#iniciomaguared article header, div#iniciomaguared_dos article header {
  @include articulo-maguared-header;
}
div#iniciomaguared h2, div#iniciomaguared_dos h2 {
  @include articulo-maguared-h2;
}
div#iniciomaguared article span.maguared_categorias, div#iniciomaguared_dos article span.maguared_categorias {
  @include articulo-maguared-categorias;
}

div#iniciomaguared article div.entry-content, div#iniciomaguared_dos article div.entry-content {
  @include texto-Entrada-maguared;
}
/*CODIGO PARA LAS ENTRADAS DEL HOME*/
@media only screen and (max-width: 1200px) {
  div#iniciomaguared {
    grid-template-columns: 1fr 1fr;
  }
  #segunda-fila-home .panel-grid-cell:nth-of-type(2){
    display: none;
  }
  #segunda-fila-home .panel-grid-cell:nth-of-type(1){
    width: 100%;
  }
}
@media only screen and (max-width: 860px) {
  div#iniciomaguared, div#iniciomaguared_dos {
    grid-template-columns: 1fr;
  }
}

/*mag-home-enlaces-destacados*/
.mag-home-enlaces-destacados a{
  color: $mag-blanco;
  font-weight: bolder;
}
.mag-home-enlaces-destacados {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  min-height: 350px;
  div{
    font-size: 1.4em;
    padding-top: 1.2em;
    text-align: center;
  }
  div:nth-child(1){
    background-color: $mag-rojo;
    border-bottom: 20px white solid;
  }
  div:nth-child(2){
    background-color: $mag-naranja;
  }
  div:nth-child(3){
    background-color: $mag-lima;
  }
  div:nth-child(4){
    background-color: $mag-verde;
  }
}