$theme_name: "GENESIS SASS Magua&RED";
$theme_uri: "#";
$theme_description: "Tema base para genesis con SASS";
$theme_version: "1.0";
$theme_author: "Jaime de Greiff Zacebac";
$theme_author_uri: "#";
$theme_template: "genesis";
$theme_license: "GPL";
$theme_tags: "responsive-layout";
$theme_textdomain: "genesisass";
