
.fija {
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
    left: 0;
    
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    border-bottom: 5px solid #1957db; 
}
.fija .header-left{
    display:none;
}
.fija p.site-title{
    max-width: 50%;
}