// Theme Information
$theme_name: "GENESIS SASS";
$theme_uri: "#";
$theme_description: "Tema base para genesis con SASS";
$theme_version: "1.0";
$theme_author: "Jaime de Greiff CAXEbaz";
$theme_author_uri: "#";
$theme_template: "genesis";
$theme_license: "GPL";
$theme_tags: "responsive-layout";
$theme_textdomain: "genesisass";

$fuentePrincipal: 'Roboto', sans-serif;
$fuenteHeaders:'Montserrat', sans-serif;
$col_blanco_retina: #FAFAFA;
$col_rojo_retina: #E73077;
$col_azul_retina: #5AC4F1;


/*MAGUARED*/
$rojo-maguared: #772505;
$naranja-maguared: #e0541e;
$amarillo-maguared: #f19741;
$verde-maguared: #c6c74f;
$aguamarina-maguared: #8bceaf;
$azul-maguared: #1db5cc;
$gris1-maguared: #666666;
$fondositio: #c6c74f;
